* {
  margin:0;
}
img {
  width:250px;
  padding:10px;
}
header {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: whitesmoke;
  text-align: center;
}
#o_mnie {
  text-align: center;
}
